@import "tailwindcss";

:root,
:host {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #07b53b;
  --primary-foreground: #ffffff;
  --title: #1e1e1e;
  --content: #616161;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #07b53b;
  --radius: 0.5rem;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --popover: #ffffff;
  --popover-foreground: #171717;
}

.dark {
  --background: #18181b;
  --foreground: #fafafa;
  --primary: #07b53b;
  --primary-foreground: #ffffff;
  --title: #fafafa;
  --content: #a1a1aa;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #3f3f46;
  --accent-foreground: #fafafa;
  --border: #3f3f46;
  --input: #3f3f46;
  --ring: #07b53b;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --popover: #27272a;
  --popover-foreground: #fafafa;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-title: var(--title);
  --color-content: var(--content);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --animate-moveme: moveme 1s ease-in-out infinite;
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
    var(--delay, 0ms);

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }

  @keyframes moveme {
    0% {
      top: 0;
      height: 0%;
    }
    50% {
      top: 50%;
      height: 150%;
    }
    75% {
      top: 100%;
      height: 100%;
    }
    100% {
      top: 160%;
      height: 50%;
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
